{% extends 'booking/layout.html' %}

{% block body %}

<main class="container changepw main-pad">
    {%if message %}
        <div class="message">{{message}}</div>
    {% endif %}

    <h1>Change Password</h1>
   
     <form class="change-form" action="{% url 'changepassword' %}" method="post">  
        {% csrf_token %}
        <input autofocus class="form__field main-margin" type="password" name="old_password" placeholder="Old Password">
        <input class="form__field main-margin" type="password" name="new_password" placeholder="New Password">
        <input class="form__field main-margin" type="password" name="confirmation" placeholder="Confirm New Password">
        <input class="btn" type="submit" value="Change">
    </form>

</main>
{% endblock %}