{% extends 'booking/layout.html' %}
{% load static %}

{% block body %}
<main class="home">
<section class="banner">
    <div class="container">
    <div class="banner__img">
        <img src="https://cdn.pixabay.com/photo/2021/12/17/19/16/dog-6877283_1280.jpg" alt="dog">
    </div>
    
    <div class="banner__content flex">
        <h1>Professional Dog Grooming</h1>
        <p>Call us at (905) 123-4567 or login to book your appointment now!</p>
        <a href="{% url 'booking' %}"><button class="btn">Book an appointment</button></a>
    </div>
    </div>

</section>
    <section class="review-section container">
        
        <h2 class="center">What Our Customers Say About Us...</h2>
        <div class="review__items">
            
                {% for comment in comments %}
                <div class="review__item flex">
                <p class="review__content">"{{comment.content}}"</p>
                <p class="review__user">- {{comment.user.first_name}} {{comment.user.last_name}}</p>
                </div>
                {% endfor %}
                
              
            
            <div class="btn-group flex">
            <i class="fa-solid fa-arrow-left review-prev"></i>
            <i class="fa-solid fa-arrow-right review-next"></i>
            </div>
            
        </div>
        
    </section>
    {% if user.is_authenticated %}
        <div class="comment-box center">
            <label class="comment-toggle" for="comment">Leave Us a Comment <i class="fa-solid fa-pen"></i></label>
            <div class="comment-form">
                <textarea class="main-margin" name="comment" id="comment" placeholder="Your Comment Here..."></textarea>
                <button class="btn comment-btn disabled" type="submit" disabled>Submit</button>
            </div>
        </div>
        {% else %}
        <hr class="container">
        {% endif %}
    <section class="info container flex">
        
        <div class="contact col">
            <h2>Find Us</h2>
            <p><i class="fa-solid fa-location-dot"></i> 123 Park, Toronto</p>
            <p><i class="fa-solid fa-phone"></i> (905) 123-4567</p>
        </div>
        <table class="col center">
            <thead>
                <tr>
                    <th colspan="2">Store Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>10:00am - 6:00pm</td>
                </tr>      
                <tr>
                    <td>Monday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>10:00am - 6:00pm</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>10:00am - 6:00pm</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>10:00am - 6:00pm</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>10:00am - 6:00pm</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>10:00am - 6:00pm</td>
                </tr>
            </tbody>
        </table>
        
    </section>
  </main>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'booking/index.js' %}" defer></script>
{% endblock %}
